/*
 * Process Services Enterprise API
 * Provides access to the complete features provided by Alfresco Process Services powered by Activiti.  You can use this API to integrate Alfresco Process Services with external applications.
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.activiti.engine.remote.client.api;

import org.activiti.engine.remote.client.ApiCallback;
import org.activiti.engine.remote.client.ApiClient;
import org.activiti.engine.remote.client.ApiException;
import org.activiti.engine.remote.client.ApiResponse;
import org.activiti.engine.remote.client.Configuration;
import org.activiti.engine.remote.client.Pair;
import org.activiti.engine.remote.client.ProgressRequestBody;
import org.activiti.engine.remote.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.activiti.engine.remote.client.model.ProcessScopeRepresentation;
import org.activiti.engine.remote.client.model.ProcessScopesRequestRepresentation;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProcessScopesApi {
    private ApiClient apiClient;

    public ProcessScopesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProcessScopesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getRuntimeProcessScopesUsingPOST
     * @param processScopesRequest processScopesRequest (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getRuntimeProcessScopesUsingPOSTCall(ProcessScopesRequestRepresentation processScopesRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = processScopesRequest;

        // create path and map variables
        String localVarPath = "/enterprise/process-scopes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getRuntimeProcessScopesUsingPOSTValidateBeforeCall(ProcessScopesRequestRepresentation processScopesRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'processScopesRequest' is set
        if (processScopesRequest == null) {
            throw new ApiException("Missing the required parameter 'processScopesRequest' when calling getRuntimeProcessScopesUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = getRuntimeProcessScopesUsingPOSTCall(processScopesRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List runtime process scopes
     * 
     * @param processScopesRequest processScopesRequest (required)
     * @return List&lt;ProcessScopeRepresentation&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ProcessScopeRepresentation> getRuntimeProcessScopesUsingPOST(ProcessScopesRequestRepresentation processScopesRequest) throws ApiException {
        ApiResponse<List<ProcessScopeRepresentation>> resp = getRuntimeProcessScopesUsingPOSTWithHttpInfo(processScopesRequest);
        return resp.getData();
    }

    /**
     * List runtime process scopes
     * 
     * @param processScopesRequest processScopesRequest (required)
     * @return ApiResponse&lt;List&lt;ProcessScopeRepresentation&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ProcessScopeRepresentation>> getRuntimeProcessScopesUsingPOSTWithHttpInfo(ProcessScopesRequestRepresentation processScopesRequest) throws ApiException {
        com.squareup.okhttp.Call call = getRuntimeProcessScopesUsingPOSTValidateBeforeCall(processScopesRequest, null, null);
        Type localVarReturnType = new TypeToken<List<ProcessScopeRepresentation>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List runtime process scopes (asynchronously)
     * 
     * @param processScopesRequest processScopesRequest (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getRuntimeProcessScopesUsingPOSTAsync(ProcessScopesRequestRepresentation processScopesRequest, final ApiCallback<List<ProcessScopeRepresentation>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getRuntimeProcessScopesUsingPOSTValidateBeforeCall(processScopesRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ProcessScopeRepresentation>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
